@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);


.mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #17537c;
}
#menu-0 .mbr-navbar__section {
  background: #17537c;
}
#menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
.mbr-brand__name a {
  font-size: 30px;
}
#header1-1 .btn {
  font-family: 'Oswald', sans-serif;
}
#header1-1 H1 {
  text-align: center;
}
#content1-7 P {
  text-align: left;
}
#features1-8 P {
  text-align: left;
}
#msg-box3-14 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-14 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#social-buttons1-15 .mbr-header__text {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
#social-buttons2-10 .mbr-header__text {
  text-align: center;
}
#contacts3-11 .btn {
  font-size: 18px;
}
